{% extends "webApp/base.html" %}

{% load static %}



{% block content %}
<div class="container">

    <div class="card text-center" style="float: right;">
        <h1>Carrito📥</h1>
        <h3>Total: {{importe_total_carro}} €</h3>

        {% include "carro/widget.html" %}  
    </div>

    <div class="row">
{% for producto in productos %}
        <div class="card" style="width: 18rem; margin: auto;">
            <img class="card-img-top" src="{{producto.imagen.url}}" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.precio}} €</p>
                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-dark">Añadir al carrito</a>
            </div>
        </div>

{% endfor %}
    </div>
</div>
{% endblock %}


